html {
  scroll-behavior: smooth;
}

:root{
  --text-50: #e0e0e0;  /* #f0eff5 */
  --text-100: #d3d3d3; /* #e1dfec */
  --text-200: #b5b5b5; /* #c3c0d8 */
  --text-300: #a1a1a1; /* #a5a0c5 */
  --text-400: #707070; /* #8781b1 */
  --text-500: #4b4b4b; /* #69619e */
  --text-600: #3d3d3d; /* #544e7e */
  --text-700: #2d2d2d; /* #3f3a5f */
  --text-800: #1d1d1d; /* #2a273f */
  --text-900: #0f0f0f; /* #151320 */
  --text-950: #0a0a0a; /* #0b0a10 */
  
  --background-50: #e0e0e0;  /* #f1eff5 */
  --background-100: #d3d3d3; /* #e2dfec */
  --background-200: #b6b6b6; /* #c6c0d8 */
  --background-300: #a1a1a1; /* #a9a0c5 */
  --background-400: #707070; /* #8d81b1 */
  --background-500: #4b4b4b; /* #70619e */
  --background-600: #3d3d3d; /* #5a4e7e */
  --background-700: #2d2d2d; /* #433a5f */
  --background-800: #1d1d1d; /* #2d273f */
  --background-900: #0f0f0f; /* #161320 */
  --background-950: #0a0a0a; /* #0b0a10 */

  
  --primary-50: #eee9fb;
  --primary-100: #ddd4f7;
  --primary-200: #baa8f0;
  --primary-300: #987de8;
  --primary-400: #7552e0;
  --primary-500: #5326d9;
  --primary-600: #421fad;
  --primary-700: #321782;
  --primary-800: #210f57;
  --primary-900: #11082b;
  --primary-950: #080416;
  
  --secondary-50: #f6f0ee;
  --secondary-100: #ede0de;
  --secondary-200: #dbc1bd;
  --secondary-300: #c9a29c;
  --secondary-400: #b8847a;
  --secondary-500: #a66559;
  --secondary-600: #855147;
  --secondary-700: #633c36;
  --secondary-800: #422824;
  --secondary-900: #211412;
  --secondary-950: #110a09;
  
  --accent-50: #f6f4ee;
  --accent-100: #edeade;
  --accent-200: #dbd4bd;
  --accent-300: #c9bf9c;
  --accent-400: #b8a97a;
  --accent-500: #a69459;
  --accent-600: #857647;
  --accent-700: #635936;
  --accent-800: #423b24;
  --accent-900: #211e12;
  --accent-950: #110f09;   
  
}

:root{  
  --primary: var(--primary-400);
  --primary-content: var(--primary-100);
  --primary-dark: var(--primary-800);
  --primary-light: var(--primary-400);

  --secondary: var(--secondary-600);
  --secondary-content: var(--secondary-200);
  --secondary-dark: var(--secondary-800);
  --secondary-light: var(--secondary-400);

  --background: var(--background-900);
  --foreground: var(--background-800);
  --border: var(--background-700);

  --text: var(--text-50);
  --text-light: var(--text-200);
  --text-lighter: var(--text-400);

--success: #007b00;
--warning: #7b7b00;
--error: #7b0000;
--success-content: #7bff7b;
--warning-content: #ffff7b;
--error-content: #ff7b7b;
}

html{
    background-color: var(--background);
    color: var(--text);
}
html,body{margin: 0;padding: 0}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Montserrat", sans-serif;
}

.Content {
    max-width: 1152px;
    margin-inline: auto;
}

::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: var(--primary);
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: var(--primary);
  }

  @media (max-width: 888px) {
    .Nav_HideMobile{
      display: none !important;
    }
    .NavContainer{
      padding-inline: 25px !important;
    }
    .NavContainer .LogoContainer{font-size: 15px !important;}
  }

  /* NavBar */
  .NavBurger{font-size: 30px;
    margin-inline: 5px;
    padding: 0 10px;
    height: 100%;
    display: flex;
    align-items: center;
    text-shadow: -2px 2px 1px var(--NavHighlight);
    color: var(--text);
    transform: scale(1);
    transition: transform 0.3s;
    cursor: pointer;
}

.NavBurger:hover {
        transform: scale(1.1);
    }

    .NavSButton {
        padding: 3px 6px;
        background-color: #5865F2;
        height: fit-content;
        padding: 10px 20px;
        border-radius: 6px;
        font-weight: bold;
        margin-left: 10px;
        transform: translate(0px, 0px);
        transition: transform 0.3s;
        cursor: pointer;
        color: var(--text);
        text-decoration: none;
    }

    .Spacer {
        flex: 1;
    }

    .NavContainer {
        color: var(--text);
        display: flex;
        height: 64px;
        width: 100%;
        padding-inline: 50px;
        box-sizing: border-box;
    }

    .NavContainer .LogoContainer {
        display: flex;
        align-items: center;
        font-size: 20px;
        font-weight: bold;
    }

    .NavContainer .NavLinks {
        display: flex;
        align-items: center;
    }

    .NavContainer .NavLink {
        font-size: 20px;
        font-weight: 800;
        height: 100%;
        display: flex;
        align-items: center;
        margin-inline: 5px;
        color: var(--text);
        text-decoration: none;
        padding: 0 10px;
        transform: translate(0px, 0px);
        transition: transform 0.3s;
    }

    .NavContainer a:hover {
        transform: translate(0px, 3px);
    }

    nav {
        background-color: var(--foreground);
        width: 100%;
        border-bottom: 1px solid var(--background-900);
    }
  /* SideBar */

.SideBar{
  transform: translate(30vw, 0);
  right:0;
  bottom: 0;
  position: fixed;
  z-index: 50;
  top:64px;
  background-color: var(--background-950);
  display: flex;
  flex-direction: column;
  padding: 4px;
  transition: all 0.3s ease;
  border-left: 2px solid var(--accent-950);
  visibility: hidden;
}

.SideBarActive{
  visibility: visible;
  transform: translate(0, 0);
}

.SideBar hr{
  width: 90%;
  border: 1px solid var(--text-600);
}

.SideBarItem{cursor: pointer;
background-color: transparent;
transition: background-color 0.2s ease;
border-radius: 6px;
}

.SideBarItem:hover{
  background-color: hsla(var(--hue), 69%, 77%, 80%);
}
.SideBarItem span i{margin-right: 6px;}

.SideBarSpacer{flex: 1;}

.SideBarItem,.SideBarItemNH{
        height: 40px;
        font-weight: 700;
        letter-spacing: 1px;
        text-decoration: none;
        display: flex;
        align-items: center;
        padding: 0 10px;
        color: var(--text);
        }


article a::after {
    content: '\f08e';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    margin-left: 0.5em;
    font-size: 0.8em;
}



        
