{% set Directory = "/docs/" %}

<aside id="WikiSideBar" class="sidebar">

    <details open>
      <summary class="SideBarSummary">
    <span>Astra Bot</span>
<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="var(--text-100)"><path d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z"/></svg>
      </summary>
      <ul>
        {# <a id="Wiki_GettingStarted" href="#getting-started">Getting Started</a> #}
        <a id="Wiki_Astraprivacy" href="{{Directory}}astra/privacy/">Privacy Policy & TOS</a>
      </ul>
    </details>

    <details open>
      <summary class="SideBarSummary">
    <span>Discord</span>
<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="var(--text-100)"><path d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z"/></svg>
      </summary>
      <ul>
        <a id="Wiki_DiscordRules" href="{{Directory}}discord/rules/">Rules</a>
        <a id="Wiki_GettingStarted" href="{{Directory}}discord/team/">Our Team</a>
      </ul>
    </details>

  </aside>

  