<meta name="title" content="{% if title %} {{ title }} - Thrillseekers Central {% else %} Thrillseekers Central {% endif %}">
<title>{% if title %} {{ title }} - Thrillseekers Central {% else %} Thrillseekers Central {% endif %}</title>
<meta name="keywords" content="ThemeParkFansUK">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="language" content="English">
<meta name="description" content="Thrillseekers Central is a community with the goal of celebrating theme parks worldwide and more!" />
<link rel="icon" href="/assets/img/pageicon.png">

<meta property="og:type" content="website" />
<meta property="og:title" content="{% if title %} {{ title }} - Thrillseekers Central {% else %} Thrillseekers Central {% endif %}" />
<meta property="og:description" content="{{ summary | default("Thrillseekers Central is a community with the goal of celebrating theme parks worldwide and more!") }}" />
<meta property="og:image" content="{{img}}" />

<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:title" content="{% if title %} {{ title }} - Thrillseekers Central {% else %} Thrillseekers Central {% endif %}" />
<meta property="twitter:description" content="" />
<meta name="theme-color" content="#9ecdee">

<meta property="og:site_name" content="Thrillseekers Central"><meta property="og:url" content="{{url}}">

