<div id="SideBar" class="SideBar">

    <span class="SideBarItemNH" style="justify-content: center;">Theme Park Fans UK</span> <!-- Wow just centered an item-->

    <a style="--hue:180" href="/" class="SideBarItem"><span><i class="fa-solid fa-house"></i>Home</span></a>
    <a style="--hue:90" href="/articles/" class="SideBarItem"><span><i class="fa-solid fa-newspaper"></i>Articles</span></a>
    <a style="--hue:333" href="https://linktr.ee/themeparkfansuk/" class="SideBarItem"><span><i class="fa-solid fa-hashtag"></i>Social Media</span></a>

    <div class="SideBarSpacer"></div>

    <hr>

    <div style="flex-direction: row; margin-inline: auto;">
        <a href="https://discord.gg/n" class="SideBarItem" style="--hue:212">
            <span><i class="fa-brands fa-discord"></i>Discord Server</span></a>

</div>


</div>

<script>
    function SidebarToggle() {

var element = document.getElementById("SideBar");
element.classList.toggle("SideBarActive");

var element = document.getElementById("BurgerIconID");
element.classList.toggle("burgericonActive");

}
</script>
